<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!--
    Top-level Xacro file that assembles the complete robot description.

    Included Files:
    - robot_core.xacro: Physical body, wheels, and kinematics.
    - lidar.xacro: 2D LiDAR sensor configuration.
    - imu.xacro: Inertial Measurement Unit configuration.
    - ultrasonic.xacro: Ultrasonic distance sensor configuration.
    -->

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="imu.xacro" />
    <xacro:include filename="ultrasonic.xacro" />

</robot>
